/* reset */

*,
*::before,
*::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
    height: 100%;
}

img{
    display: block;
    width: 100%;
    height: auto;
}

::selection{
    background: var(--accent-color);
}

/* root */

:root{
    --primary-typeface: "PP Neue Montreal", Helvetica, sans-serif;
    --secondary-typeface: "PP Editorial New", Times, serif;
    --font_weight-light: 300;
    --font_weight-bold: 700;
    --primary-color: black;
    --secondary-color: white;
    --accent-color: #39ff14;
    --grid: repeat(6, 1fr);
    --margin: 0.75em;
}

@font-face{
    font-family: "PP Neue Montreal";
    src: url(fonts/PPNeueMontreal-Book.woff) format("woff"),
    url(fonts/PPNeueMontreal-Book.ttf) format("ttf");
    font-weight: 300;
}

@font-face{
    font-family: "PP Neue Montreal";
    src: url(fonts/PPNeueMontreal-Bold.woff) format("woff"),
    url(fonts/PPNeueMontreal-Bold.ttf) format("ttf");
    font-weight: 700;
}

body{
    background-color: var(--secondary-color);
    font-family: var(--primary-typeface);
    font-size: 1rem;
    font-weight: var(--font_weight-light);
    font-variant-alternates: swash(ss02);
    line-height: 1.6;
}

/* typography */

h1,
h2,
h3,
h4{
    font-weight: var(--font_weight-light);
    line-height: 1.1;
}

/* css grid */

.grid{
    display: grid;
    grid-template-columns: var(--grid);
    grid-column-gap: var(--margin);
    grid-row-gap: 0.75em;
    margin: 0 var(--margin);
}

/* columns */

.col_1-2{
    grid-column: 1/2;
}

.col_1-3{
    grid-column: 1/3;
}

.col_1-4{
    grid-column: 1/4;
}

.col_1-5{
    grid-column: 1/5;
}

.col_1-6{
    grid-column: 1/6;
}

.col_1-7{
    grid-column: 1/7;
}

.col_2-3{
    grid-column: 2/3;
}

.col_2-4{
    grid-column: 2/4;
}

.col_2-5{
    grid-column: 2/5;
}

.col_2-6{
    grid-column: 2/6;
}

.col_2-7{
    grid-column: 2/7;
}

.col_3-4{
    grid-column: 3/4;
}

.col_3-5{
    grid-column: 3/5;
}

.col_3-6{
    grid-column: 3/6;
}

.col_3-7{
    grid-column: 3/7;
}

.col_4-5{
    grid-column: 4/5;
}

.col_4-6{
    grid-column: 4/6;
}

.col_4-7{
    grid-column: 4/7;
}

.col_5-6{
    grid-column: 5/6;
}

.col_5-7{
    grid-column: 5/7;
}

.col_6-7{
    grid-column: 6/7;
}

/* base */

figure > img{
    border-radius: 2vh;
}

/* buttons */

.btn_wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1.5em 0;
}

.btn{
    flex-grow: 1;
    cursor: pointer;
    color: inherit;
    font-size: 0.875rem;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    border: solid var(--primary-color) 2px;
    border-radius: 100vw;
    padding: 1.125em 0;
    transition: background-color .2s ease-in-out;
}

.btn_primary{
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

.btn_primary:hover,
.btn_primary:focus{
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

.btn_outline{
    background-color: var(--secondary-color);
}

.btn_outline:hover,
.btn_outline:focus{
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

#btn_wrapper-about{
    margin: 1.75em 0 0 0;
    gap: 0.75em;
    flex-flow: wrap;
    justify-content: start;
}

/* header navigation */

.header{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 3;
    display: flex;
    align-items: center;
    height: 2.75rem;
    background-color: var(--secondary-color);
    border-bottom: 2px solid var(--accent-color);
    margin: 0 var(--margin) 1.125em var(--margin);
}

.header_nav{
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: space-between;
}

.header_nav-list{
    display: flex;
    flex-direction: row;
    list-style: none;
    column-gap: var(--margin);
}

.header_nav-list:nth-of-type(3){
    display: none;
}

.header_nav-list-link{
    text-decoration: none;
    font-weight: var(--font_weight-bold);
    color: inherit;
}

.header_nav-list-link:hover,
.header_nav-list-link:focus{
    color: var(--accent-color);
}

/* typography */

.about_me-container{
    place-self: center;
    padding: 6vw;
}
 
.about_title{
    font-size: clamp(2.5rem, 6vw, 3.75rem);
    font-weight: var(--font_weight-light);
}

.about_title-container{
    margin-bottom: 2.25em;
}

.about_description-container{
    margin-bottom: 3em;
}

.about_description{
    font-size: 1.125rem;
    letter-spacing: 0.375px;
}

.about_description + .about_description{
    margin-top: 1em;
}

.about_image-container{
    place-self: center;
}

.about_image{
    border-radius: 2vh;
}

.row_3-4{
    grid-row: 3/4;
}

/* main_home navigation */

.main_home{
    position: relative;
    display: flex;
    flex-direction: column;
    row-gap: 1.75em;
    margin: 0 var(--margin);
    height: 100vh;
}

#main_about{
    margin-bottom: 3em;
}

/* main navigation */

.nav{
    margin-top: 5.625em;
    margin-bottom: 0.5em;
    display: flex;
    justify-content: center;
    z-index: 2;
    mix-blend-mode: difference;
}

.nav_logo{
    width: 2.125rem;
}

/* work navigation */

.section_work{
    position: relative;
    display: flex;
    flex-grow: 1;
    align-items: flex-start;
    justify-content: center;
}

.section_work-nav{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-grow: 1;
    column-gap: var(--margin);
    justify-content: center;
}

.section_work-link{
    cursor: pointer;
    color: inherit;
    text-decoration: none;
    text-align: center;
    font-size: clamp(2.5rem, 6vw, 3.75rem);
    line-height: 1.1;
}

.section_work-link::after{
    content: ' —';
}

.section_work-link:nth-of-type(6)::after{
    content: '';
}

.section_work-link:hover,
.section_work-link:focus{
    color: var(--accent-color);
}

.section_work-reveal{
    display: none;
    position: absolute;
    z-index: -1;
}

.section_work-link:hover + .section_work-reveal:nth-of-type(1),
.section_work-link:focus + .section_work-reveal:nth-of-type(1){
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    height: 90%;
}

.section_work-link:hover + .section_work-reveal:nth-of-type(2),
.section_work-link:focus + .section_work-reveal:nth-of-type(2){
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    height: 90%; 
}

.section_work-link:hover + .section_work-reveal:nth-of-type(3),
.section_work-link:focus + .section_work-reveal:nth-of-type(3){
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    height: 90%; 
}

.section_work-link:hover + .section_work-reveal:nth-of-type(4),
.section_work-link:focus + .section_work-reveal:nth-of-type(4){
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    height: 90%; 
}

.section_work-link:hover + .section_work-reveal:nth-of-type(5),
.section_work-link:focus + .section_work-reveal:nth-of-type(5){
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    height: 90%; 
}

.section_work-link:hover + .section_work-reveal:nth-of-type(6),
.section_work-link:focus + .section_work-reveal:nth-of-type(6){
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    height: 90%; 
}

/* work main */

.main{
    display: flex;
    flex-direction: column;
    margin: 0 var(--margin) 1.75em var(--margin);
    row-gap: 1.75em;
}

.section_work-showcase{
    margin-bottom: 0.875em;
}

.work_showcase-flex{
    display: flex;
    flex-direction: row;
    gap: var(--margin);
}

.work_showcase-flex > * {
    width: auto;
    height: auto;
}

.section_about{
    margin-bottom: 3em;
}

/* work typography */

.work_title{
    font-size: clamp(2.5rem, 6vw, 3.75rem);
    font-weight: var(--font_weight-light);
}

.work_description-container{
    margin: 2.25em 0 2.5em 0;
    align-self: flex-end;
    width: 50%;
}

.work_description{
    font-size: clamp(1.25rem, 3vw, 1.875rem);
    font-weight: var(--font_weight-light);
    line-height: 1.3;
    letter-spacing: 0.25px;
}

/* archive */

.section_archive{
    margin: clamp(6em, 9em, 10em) var(--margin);
}

.archive_grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    grid-gap: clamp(6em, 9em, 10em);
}

.archive_grid-item{
    place-self: center;
    transition: transform 10s ease-in-out;
}

.archive_video-container{
    position: relative;
    height: 0;
    align-self: center;
    border-radius: 2vh;
}

.archive_title{
    font-size: clamp(2.5rem, 6vw, 3.75rem);
    font-weight: var(--font_weight-light);
}

.superscript{
    display: inline-block;
    font-size: clamp(2.5rem, 6vw, 3.75rem);
    font-weight: var(--font_weight-light);
    transform: translateY(-0.125em) scale(1.25);
}

/* index */

.section_index{
    position: relative;
    margin: 0 var(--margin);
}

.section_index-link{
    cursor: pointer;
    color: inherit;
    text-decoration: none;
    font-size: clamp(2.5rem, 6vw, 3.75rem);
    line-height: 1.1;
}

.section_index-link:hover,
.section_index-link:focus{
    color: var(--accent-color);
}

.section_index-image{
    position: absolute;
    display: none;
    align-self: center;
    z-index: -1;
    border-radius: 2vh;
    overflow: hidden;
}

.section_index-type{
    align-self: center;
    font-size: 1rem;
}

.section_index-number{
    font-size: clamp(1.25rem, 6vw, 3.25rem);
}

.section_index-link-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0.75em 0;
}

.section_index-link-container + .section_index-link-container{
    border-top: solid 2px var(--accent-color);
}

.section_index-details-container{
    display: flex;
    flex-direction: row;
    gap: var(--margin);
}

/* work video */

iframe{
    border-radius: 2vh;
}

.work_video-container{
    position: relative;
    height: 0;
    border-radius: 2vh;
}

/* footer nav */

.footer_nav{
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

.footer_nav-list{
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    list-style: none;
}

.footer_nav-list-link{
    text-decoration: none;
    color: inherit;
    font-weight: var(--font_weight-bold);
}

.footer_nav-list-link:hover,
.footer_nav-list-link:focus{
    color: var(--accent-color);
}

/* footer */

#footer_home{
    position: fixed;
    right: 0;
    left: 0;
    bottom: 0;
}

.footer{
    display: flex;
    align-items: center;
    margin: 0 var(--margin);
    height: 2.75rem;
    background-color: var(--secondary-color);
    border-top: 2px solid var(--accent-color);
}

/* script */

.fade{
    opacity: 0;
    transition: opacity .3s ease-in;
}

.fade.appear{
    opacity: 1;
}

.outline{
    border: 1px solid lightgray;
}

/* responsive */

@media screen and (max-width: 64em) {

    .section_work-nav{
        row-gap: 0.25em;
        flex-direction: column;
        flex-wrap: nowrap;
    }

    .section_work-link::after{
        content: '';
    }

    .section_work-link:hover + .section_work-reveal:nth-of-type(1),
    .section_work-link:focus + .section_work-reveal:nth-of-type(1){
        display: none;
    }

    .section_work-link:hover + .section_work-reveal:nth-of-type(2),
    .section_work-link:focus + .section_work-reveal:nth-of-type(2){
        display: none;
    }

    .section_work-link:hover + .section_work-reveal:nth-of-type(3),
    .section_work-link:focus + .section_work-reveal:nth-of-type(3){
        display: none;
    }

    .section_work-link:hover + .section_work-reveal:nth-of-type(4),
    .section_work-link:focus + .section_work-reveal:nth-of-type(4){
        display: none;
    }

    .section_work-link:hover + .section_work-reveal:nth-of-type(5),
    .section_work-link:focus + .section_work-reveal:nth-of-type(5){
        display: none;
    }

    .section_work-link:hover + .section_work-reveal:nth-of-type(6),
    .section_work-link:focus + .section_work-reveal:nth-of-type(6){
        display: none;
    }

    .about_description-container{
        margin-top: 1.125em;
    }

    .about_me-container{
        padding: 0;
    }

    .about_title-container{
    }

    .about_image-container{
        margin-top: 1em;
        margin-bottom: 2.25em;
    }

    .about_description-container{
    }

    #main_about{
        margin-bottom: 2.125em;
    }

    .section_about{
        margin-bottom: 0.75em;
    }
    
}

@media screen and (max-width: 48em){

    :root{
        --grid: 1fr;
    }

    .col_1-2{
        grid-column: 1;
    }
    
    .col_1-3{
        grid-column: 1;
    }
    
    .col_1-4{
        grid-column: 1;
    }
    
    .col_1-5{
        grid-column: 1;
    }
    
    .col_1-6{
        grid-column: 1;
    }
    
    .col_1-7{
        grid-column: 1;
    }

    .col_2-3{
        grid-column: 1;
    }
    
    .col_2-5{
        grid-column: 1;
    }
    
    .col_2-6{
        grid-column: 1;
    }
    
    .col_2-7{
        grid-column: 1;
    }
    
    .col_3-5{
        grid-column: 1;
    }
    
    .col_3-6{
        grid-column: 1;
    }
    
    .col_3-7{
        grid-column: 1;
    }

    .col_4-5{
        grid-column: 1;
    }
    
    .col_4-6{
        grid-column: 1;
    }
    
    .col_4-7{
        grid-column: 1;
    }

    .col_5-6{
        grid-column: 1;
    }
    
    .col_5-7{
        grid-column: 1;
    }
    
    .col_6-7{
        grid-column: 1;
    }

    .header{
        grid-column: 1;
    }

    .nav{
        grid-column: 1;
    }
    
    .work_description-container{
        align-self: flex-start;
        width: 100%;
        margin-top: 0;
        margin-bottom: 0.5em;
    }

    .work_description{
        letter-spacing: 0.375px;
        line-height: 1.5;
    }

    .btn{
        flex-grow: 1;
        text-align: center;
    }

    .row_3-4{
        grid-row: 4/5;
    }

    .header_nav-list:nth-of-type(2){
        display: none;
    }

    .header_nav-list:nth-of-type(3){
        display: flex;
    }

}

@media screen and (max-width: 32em){

    .section_work-nav{
        row-gap: 0.5em;
    }

    .section_index-type{
        display: none;
    }

}

@media screen and (min-height: 67.5em){

    #footer_about{
        position: fixed;
        right: 0;
        left: 0;
        bottom: 0;
    }
}