.grid{
    grid-row-gap: 2em;
}

.center{
    place-items: center;
}

.fade{
    opacity: 0;
    transition: opacity .3s ease-in;
}

.fade.appear{
    opacity: 1;
}

.nav_list{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-grow: 1;
    margin: 0 0.5em;
}

.nav_list-item{
    list-style: none;
}

.nav_list-link{
    color: inherit;
    text-decoration: none;
}

.nav_list-link:hover{
    color: var(--accent-color);
}


.nav_list-item:nth-of-type(2){
    display: none;
}

.btn_wrapper{
    padding: 4em 0;
    align-self: center;
    justify-self: center;
}

.col_2-4{
    grid-column: 2/4;
}

.col_2-5{
    grid-column: 2/5;
}

.col_2-6{
    grid-column: 2/6;
}

.col_2-8{
    grid-column: 2/8;
}

.col_3-7{
    grid-column: 3/7;
}

.col_4-6{
    grid-column: 4/6;
}

.col_4-8{
    grid-column: 4/8;
}

.col_5-8{
    grid-column: 5/8;
}

.col_6-8{
    grid-column: 6/8;
}

.project_info{
    grid-column: 2/8;
    margin: 1.25rem 0;
}

.project_number{
    font-size: 1rem;
}

.project_title{
    font-size: 2.75rem;
    font-weight: var(--font-weight-light);
    letter-spacing: -1px;
    margin-bottom: 0.125em;
}

.work_divider{
    grid-column: 2/8;
    z-index: -2;
    height: 1px;
    background-color: var(--accent-color);
}

.project_showcase{
    position: relative;
    padding-bottom: 2em
}

.showcase_wrapper{
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    grid-column: 2/8;
}

.showcase_wrapper iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.showcase_wrapper_thin{
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    grid-column: 4/6;
}

.showcase_wrapper_thin iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.project_carousel{
    position: relative;
    overflow: hidden;
}

.carousel_slider{
    display: flex;
    width: 100%;
    height: 100%;
}

.carousel_arrow{
    font-size: 3rem;
    line-height: 1;
    color: var(--secondary-color);
}

.btn_prev{
    position: absolute;
    top: 50%;
    left: 1em;
    transform: translateY(-50%);
    cursor: pointer;
}

.btn_next{
    position: absolute;
    top: 50%;
    right: 1em;
    transform: translateY(-50%);
    cursor: pointer;
}

@media only screen and (max-width: 64em) {

    .grid{
        grid-row-gap: 1em;
    }

    .nav_logo{
        display: none;
    }

    .nav_list-item:nth-of-type(2){
        display: inline-block;
    }

    .col_2-4{
        grid-column: 2/6;
    }
    
    .col_2-5{
        grid-column: 2/6;
    }
    
    .col_2-8{
        grid-column: 2/6;
    }
    
    .col_4-6{
        grid-column: 2/6;
    }

    .col_4-8{
        grid-column: 2/6;
    }
    
    .col_5-8{
        grid-column: 2/6;
    }
    
    .col_6-8{
        grid-column: 2/6;
    }

    .showcase_wrapper{
        grid-column: 2/6;
    }

}

@media only screen and (max-width: 34em){

    .col_2-4{
        grid-column: 2/5;
    }
    
    .col_2-5{
        grid-column: 2/5;
    }

    .col_2-6{
        grid-column: 2/5;
    }
    
    .col_2-8{
        grid-column: 2/5;
    }
    
    .col_4-6{
        grid-column: 2/5;
    }

    .col_4-8{
        grid-column: 2/5;
    }
    
    .col_5-8{
        grid-column: 2/5;
    }
    
    .col_6-8{
        grid-column: 2/5;
    }

    .showcase_wrapper{
        grid-column: 2/5;
    }

}